*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;

}

body{

background:linear-gradient(135deg,#4facfe,#00c6ff);
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

.container{

width:100%;
display:flex;
justify-content:center;

}

.profile-card{

background:#fff;

width:430px;

padding:35px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.2);

text-align:center;

transition:.4s;

}

.profile-card:hover{

transform:translateY(-8px);

}

.avatar{

width:120px;
height:120px;

border-radius:50%;

border:5px solid #4facfe;

margin-bottom:15px;

}

h1{

color:#2196f3;

margin-bottom:15px;

}

.line{

width:80px;
height:4px;

background:#2196f3;

margin:auto;

margin-bottom:25px;

border-radius:10px;

}

.info{

background:#f7f7f7;

padding:15px;

border-radius:12px;

margin-bottom:15px;

}

.info span{

color:#777;

font-size:14px;

}

.info h2{

margin-top:8px;

color:#222;

}

.info p{

margin-top:8px;

font-size:18px;

color:#555;

}

.welcome{

background:#eaf6ff;

padding:20px;

border-radius:15px;

margin:25px 0;

}

.welcome h3{

color:#0d6efd;

margin-bottom:10px;

}

button{

width:100%;

padding:15px;

background:#0d6efd;

border:none;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#084298;

transform:scale(1.03);

}
.home-btn{
    width:100%;
    padding:14px;
    margin-bottom:12px;
    border:none;
    border-radius:10px;
    background:#28a745;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.home-btn:hover{
    background:#218838;
}