@media(max-width:768px){

}
@media(max-width:992px){

.category-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.hero-text h1{

font-size:38px;

}

.hero-buttons{

flex-direction:column;

}

.nav-links{

display:none;

}

.nav-buttons{

display:none;

}

.category-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.courses-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.courses-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.stats-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.testimonial-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.testimonial-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.footer-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.footer-grid{

grid-template-columns:1fr;

text-align:center;

}

}
@media(max-width:992px){

.paths-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.paths-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.top-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.top-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.why-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.why-grid{

grid-template-columns:1fr;

}

}