*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Cairo",sans-serif;
}

body{

    background:#f5f7fb;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.payment-box{

    width:500px;

    max-width:95%;

    background:#fff;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

}

.payment-box h1{

    text-align:center;

    margin-bottom:25px;

    color:#0d6efd;

}

.info{

    background:#eef5ff;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;

}

.info h2{

    margin-bottom:10px;

    color:#222;

}

.info h3{

    color:#0d6efd;

}

.orange-box{

    background:#fff7ea;

    border:2px dashed orange;

    padding:20px;

    border-radius:15px;

    text-align:center;

    margin-bottom:25px;

}

.orange-box h2{

    margin:15px 0;

    font-size:30px;

}

.orange-box p{

    color:#666;

}

input[type=file]{

    width:100%;

    padding:15px;

    border:2px solid #ddd;

    border-radius:10px;

    margin-bottom:20px;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#0d6efd;

    color:#fff;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#0b5ed7;

    transform:translateY(-2px);

}